<header>
  <% include partials/_header %>
</header>

<h1>Login to see your teeny tiny URLs!</h1>


<form action="/login" method="POST">
  Email: <br>
  <input type="email" name="email"> <br>
  Password: <br>
  <input type="password" name="password"> <br><br>
  <input type="submit" value="Login">
</form>
