<!DOCTYPE html>
<html lang="en">
  <head>
    <%include partials/_header.ejs %>
  </head>
<body>
    <!-- Write EJS code here to display shortened links -->
  <h2>Display teeny URLs</h2>
  <p> <a href="/u/<%=shortURL%>"><%= shortURL %></a></p>
  <p> <a href="/">Create another URL!</a></p>
</body>
</html>

