<!DOCTYPE html>
<html lang="en">
  <% if(user_id) { %>
    <form action="/logout" method="POST">
      <label for="username">Logged in as: <%=users[user_id].email%></label>
      &emsp; <a href="/urls">My Links!</a> &emsp;
      <input type="submit" value="Logout">
    </form>
  <h1>Make a Teeny Tiny URL!</h1>
  <% } else { %>
  <form action="/login" method="GET">
      <label for="username">Login Here!</label>
      <input type="submit" value="Login">
  </form>
  <form action="/register" method="GET">
      <label>Register Here!</label>
      <input type="submit" value="Register">
  </form>
  <h1>Make a Teeny Tiny URL!</h1>
    <% } %>
</html>